/* body määrittää koko sivun yleisilmeen, leipäteksti */
body {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* otsikoita */
h1, h2 {
  color: #333;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation bar */
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.App {
  text-align:center
}


footer {
  margin-top: 100px;
  padding: 5px;
  background-color: #2b7a78;
  text-decoration: wavy;
  color: #ffffff;  
}


.header {
  margin-top: 100px;
  padding: 5px;
  background-color: #2b7a78;
  color: white;
}


/* change log  */
.modern-table {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* This centers the table horizontally */
  text-align: center; /* Center text inside the table */
  border-collapse: collapse; /* Optional: Removes space between borders */
}

/* Optional: Add styles for table elements for better aesthetics */
.modern-table th,
.modern-table td {
  padding: 12px; /* Add some padding for better spacing */
  border: 1px solid #ccc; /* Add border to table cells */
}

.modern-table th {
  background-color: #2b7a78; /* Light gray background for header */
  font-weight: bold; /* Make header text bold */
}

.modern-table tr:nth-child(even) {
  background-color: #2b7a771a; /* Light background for even rows */
}

.modern-table tr:hover {
  background-color: #0bdad3c3; /* Light background for even rows */
}

.divider {
  border-top: 1px solid #e6e6e6;
  margin: 40px auto;
  width: 80%;
}

